.App {
  text-align: center;
}

.App-logo {
  width: 300px;
}

.App-header {
  background-color: #ffffff;
  min-height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + vmin);
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .page {
    height: 87vh;
  }
}

@media (min-width: 768px) {
  .footer {
    height: 8vh;
  }
}

@media (min-width: 768px) {
  .header {
    height: 5vh;
  }
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid gray;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-bottom: 4px solid #0d6efd;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}